@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');
body{
    color:white;
    font-family: "Barlow Semi Condensed",sans-serif;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgba(127, 255, 212, 0.575);
    
}
main{
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 200px 200px;
    grid-gap: 20px;
    
    
}
.Daniel{
    background-color: hsl(263, 55%, 52%) ;
    grid-column: 1/3;
    grid-row: 1/2;
    border-radius: 12px;
    padding: 15px;

}
.Walters{
    background-color: hsl(217, 19%, 35%);
    grid-column: 3/4;
    grid-row: 1/2;
    border-radius: 12px;
    padding: 15px;


}
.Harmon{
    background-color: hsl(0, 0%, 100%);
    color: black;
    grid-column: 1/2;
    grid-row: 2/3;
    border-radius: 12px;
    padding: 15px;


}
.Abrams{
   background-color: hsl(219, 29%, 14%); 
   grid-column: 2/4;
   grid-row: 2/3;
   border-radius: 12px;
   padding: 15px;


}
.Kira{
    background-color:hsl(0, 0%, 100%);
    color: black;
    grid-column: 4/5;
    grid-row: 1/3;
    border-radius: 12px;
    padding: 15px;


}
.user{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 30px;   
}
p{
    font-family:"Barlow Semi Condensed",sans-serif;
    font-weight: 500;
    font-size: 14px;
    display: flex;
    justify-content: center;
    padding-right: 50px;
   
}
img{
    border-radius: 50%;
    height: 30px;
    width:30px;
    margin-right: 9px;
}
h1{
    font-size: 12px;
   
}
.text{
    display: flex;
    justify-content: center;
    font-size: 10px;
    color:  hsl(0, 0%, 81%);
    


}
#color{
    color: hsla(217, 19%, 35%, 0.7);
}
.verified{
    color:hsl(0, 0%, 81%) ;
    font-size: 8px;
}
#other{
    color:hsla(217, 19%, 35%, 0.7);
}