@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');
body{
    color:white;
    font-family: "Barlow Semi Condensed",sans-serif;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgba(225, 252, 243, 0.822);
}
main{
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 210px 210px;
    grid-gap: 20px;
 
}

.card{
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 40px;
}
.Daniel{
    background-color: hsl(263, 55%, 52%) ;
    grid-column: 1/3;
    grid-row: 1/2;
    border-radius: 12px; 
}
.Walters{
    background-color: hsl(217, 19%, 35%);
    grid-column:3/4;
    grid-row : 1/2;
    border-radius : 12px;


}
.Harmon{
    background-color: hsl(0, 0%, 100%);
    color: black;
    grid-column: 1/2;
    grid-row: 2/3;
    border-radius: 12px;


}
.Abrams{
   background-color: hsl(219, 29%, 14%); 
   grid-column: 2/4;
   grid-row: 2/3;
   border-radius: 12px;


}
.Kira{
    background-color:hsl(0, 0%, 100%);
    color: black;
    grid-column: 4/5;
    grid-row: 1/3;
    border-radius: 12px;


}


.user{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 30px;  
}
p{
    font-family:"Barlow Semi Condensed",sans-serif;
    font-weight: 500;
    font-size: 15px;
    display: flex;
    justify-content: center;
   
}
img{
    border-radius: 50%;
    height: 30px;
    width:30px;
    margin-right: 14px;
}
h1{
    font-size: 12px;
   
}
.text{
    display: flex;
    justify-content: center;
    font-size: 10px;
    color:  hsla(0, 0%, 81%, 0.767);
    


}

#color{
    color: hsla(217, 19%, 35%, 0.7);
}
.verified{
    color:hsl(0, 0%, 81%) ;
    font-size: 8px;
}
#other{
    color:hsla(217, 19%, 35%, 0.7);
}
@media only screen and (max-width: 375px) {
    body{
        color:white;
        font-family: "Barlow Semi Condensed",sans-serif;
        display: flex;
        height: 300vh;
        justify-content: center;
        align-items: center;
        background-color: rgba(225, 252, 243, 0.822);
    }
    
    main{
        display: grid;
        grid-template-columns: 250px ;
        grid-template-rows: 320px 180px 180px 290px 330px 300px;
        grid-gap: 20px;
    }
    .card{
        padding-bottom: 15px;
        padding-top: 15px;
        padding-left: 20px;
        padding-right: 36px;
    }
    
    
    .Daniel{
        background-color: hsl(263, 55%, 52%) ;
        grid-column: 1/2;
        grid-row: 1/2;
        border-radius: 10px; 
        
    }
    .Walters{
        background-color: hsl(217, 19%, 35%);
        grid-column:1/2;
        grid-row : 2/3;
        border-radius : 10px;
    
    
    }
    .Harmon{
        background-color: hsl(0, 0%, 100%);
        color: black;
        grid-column: 1/2;
        grid-row: 3/4;
        border-radius: 10px;
    
    
    }
    .Abrams{
       background-color: hsl(219, 29%, 14%); 
       grid-column: 1/2;
       grid-row: 4/5;
       border-radius: 10px;
    
    
    }
    .Kira{
        background-color:hsl(0, 0%, 100%);
        color: black;
        grid-column: 1/2;
        grid-row: 5/6;
        border-radius: 10px;
    
    
    }
    


}
